* {
  border: none;
  border-radius: 0;
  font-family: JetBrainsMono Nerd Font;
  font-size: 10pt;
  font-weight: bold;
  min-height: 0;
}

window#waybar {
  background: rgba(21, 22, 30, 0.8);
  color: #cdd6f4;
}

#workspaces button {
  all: unset;
  padding: 0 10px;
  margin: 3px 2px;
  color: #cdd6f4;
}
#workspaces button.active {
  color: #89dceb;
}

#workspaces button.focused {
  color: #cdd6f4;
  background: #eba0ac;
}

#workspaces button.urgent {
  color: #11111b;
  background: #a6e3a1;
}

#custom-launcher {
  margin-left: 8px;
  padding-right: 8px;
  padding-left: 8px;
}

#custom-exit,
#custom-language,
#custom-updates,
#custom-qtpet,
#custom-caffeine,
#clock,
#battery,
#pulseaudio,
#cpu,
#memory,
#network,
#workspaces,
#tray,
#backlight {
  padding: 0px 10px;
  margin: 3px 0px;
}

#tray {
  font-size: 10px;
}

#workspaces {
  padding-right: 0px;
  padding-left: 5px;
  margin-left: 5px;
}

#custom-language {
  color: #f38ba8;
}

#custom-updates {
  color: #f5c2e7;
}

#custom-qtpet {
  font-size: 14pt;
  color: #fdfd96;
}

#cpu {
  padding: 0px 10px;
  color: #f5c2e7;
}

#clock {
  color: #f9e2af;
  padding-right: 10px;
}

#network {
  color: #fab387;
  margin-left: 5px;
}

#pulseaudio {
  color: #89b4fa;
  margin-right: 5px;
}

#memory {
  color: #7dc4e4;
}

#battery {
  color: #a6e3a1;
  border-radius: 0px 10px 10px 0px;
  margin-right: 5px;
}

#backlight {
  color: #cba6f7;
  margin-left: 5px;
}

#custom-spotify {
  color: #cdd6f4;
}

#custom-exit {
  margin-right: 5px;
}
