@import "mocha.css";

* {
  border: none;
  border-radius: 0px;
  font-family: "JetBrainsMono Nerd Font";
  font-size: 10pt;
  font-weight: bold;
  min-height: 0;
}

window#waybar {
  background-color: transparent;
  background-image: linear-gradient(
    45deg,
    alpha(@lavender, 0.2),
    alpha(@teal, 0.2)
  );
  border: 1px solid alpha(@lavender, 0.4);
  box-shadow: inset 0 0 0 1px alpha(@lavender, 0.05);
  transition-property: background-color;
  transition-duration: 0.5s;
}

#custom-launcher,
#workspaces,
#network,
#custom-qtpet,
#tray,
#custom-updates,
#backlight,
#pulseaudio,
#battery,
#clock,
#custom-exit {
  padding: 0px 10px;
  margin: 3px 0px;
  color: @text;
}

#custom-launcher {
  margin-left: 8px;
}

#workspaces button {
  all: unset;
  padding: 0 10px;
  margin: 3px 2px;
  color: @subtext1;
}

#workspaces button.active {
  color: @teal;
}

#workspaces button.focused {
  color: @text;
  background: @maroon;
}

#workspaces button.urgent {
  color: @crust;
  background: @green;
}

#network {
  color: @mauve;
}

#custom-qtpet {
  font-size: 14pt;
  color: @flamingo;
}

#tray {
  font-size: 14pt;
}

#custom-spotify {
  color: @text;
}

#custom-updates {
  color: @flamingo;
}

#backlight {
  color: @lavender;
}

#pulseaudio {
  color: @sapphire;
}

#battery {
  color: @teal;
}

#clock {
  color: @rosewater;
}

#custom-exit {
  color: @red;
  margin-right: 8px;
}
