@import "mocha.css";

* {
  border: none;
  border-radius: 0;
  font-family: "JetBrainsMono Nerd Font";
  font-size: 10pt;
  font-weight: bold;
  min-height: 0;
}

window#waybar {
  background: alpha(@mantle, 0.4);
  border: 1px solid alpha(@lavender, 0.2);
  transition-property: background-color;
  transition-duration: 0.5s;
}

#workspaces button {
  all: unset;
  padding: 0 10px;
  margin: 3px 2px;
  color: @text;
}

#workspaces button.active {
  color: @sky;
}

#workspaces button.focused {
  color: @text;
  background: @maroon;
}

#workspaces button.urgent {
  color: @crust;
  background: @green;
}

#custom-launcher {
  margin-left: 8px;
  padding-right: 8px;
  padding-left: 8px;
}

#custom-exit,
#custom-language,
#custom-updates,
#custom-qtpet,
#custom-caffeine,
#clock,
#battery,
#pulseaudio,
#cpu,
#memory,
#network,
#workspaces,
#tray,
#backlight {
  padding: 0px 10px;
  margin: 3px 0px;
}

#tray {
  margin-left: 5px;
  font-size: 10px;
}

#workspaces {
  padding-right: 0px;
  padding-left: 5px;
}

#custom-language {
  color: @red;
}

#custom-updates {
  color: @pink;
}

#custom-qtpet {
  font-size: 14pt;
  color: @yellow;
}

#cpu {
  padding: 0px 10px;
  color: @pink;
}

#clock {
  color: @yellow;
  padding-right: 10px;
}

#network {
  color: @peach;
  margin-left: 5px;
}

#pulseaudio {
  color: @blue;
  margin-right: 5px;
}

#memory {
  color: @sky;
}

#battery {
  color: @green;
  border-radius: 0px 10px 10px 0px;
}

#backlight {
  color: @mauve;
}

#custom-spotify {
  color: @text;
}

#custom-exit {
  margin-right: 8px;
}
