configuration{
	modi: "run,drun";
	icon-theme: "Tela-purple-dark";
	monitor: "primary";
	show-icons: true;
	terminal: "wezterm";
	drun-display-format: "{icon} {name}";
	location: 0;
	disable-history: false;
	hide-scrollbar: true;
	display-drun: "   Apps ";
	display-run: "   Run ";
	display-emoji: " Emoji ";
	display-window: " 﩯  Window";
	display-Network: " 󰤨  Network";
	display-filebrowser: "  Filebrowser";
	sidebar-mode: true;
	matching: "fuzzy";
	tokenize: true;
	hover-select: true;
}

@theme "catppuccin-mocha"
